<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="theme-color" content="#000000" />
    <title>Detalle de Alumno</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% load widget_tweaks %}
    {% load static %}
</head>

<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <img src="{% static 'assets/images/estudiantes.png' %}" class="img-fluid">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07"
                    aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarsExample07">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">INICIO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Asignaturas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Docentes</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-12">
                <h1 style="font-size: 28px; margin-top: 50px;" class="text-center">SERVICIOS ESCOLARES</h1>
                <div class="page-content">
                    <div class="row">
                        <div class="col-md-10">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/alumnos/">Alumnos</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Detalle</li>
                                </ol>
                            </nav>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="content-box-large">
                                        <div class="panel-heading">
                                            <div class="panel-title">
                                                <h2>Informacion del Alumno</h2>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <section class="example mt-4">

                                                <h5>Numero de Control:</h5>
                                                <p class="ml-4">{{ object.numControl }}</p>

                                                <h5>Nombre:</h5>
                                                <p class="ml-4">{{ object.nombre }}</p>

                                                <h5>Primer Apellido:</h5>
                                                <p class="ml-4">{{ object.primerAP }}</p>

                                                <h5>Segundo Apellido:</h5>
                                                <p class="ml-4">{{ object.segundoAP }}</p>

                                                <h5>Fecha de Nacimiento:</h5>
                                                <p class="ml-4">{{ object.fechaNac }}</p>

                                                <h5>Semestre:</h5>
                                                <p class="ml-4">{{ object.semestre }}</p>

                                                <h5>Carrera:</h5>
                                                <p class="ml-4">{{ object.carrera }}</p>

                                            </section>
                                            <a href="/alumnos/" class="btn btn-warning mt-3">Volver</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <footer class="text-muted mt-3 mb-3">
            <div align="center">
                FOOTER
            </div>
        </footer>
    </div>
</body>

</html>